<%- include('partials/header') %>
<form method="post" action="/api/auth/signin">
    <input type="text" name="username" placeholder="Username">
    <input type="text" name="password" placeholder="Password">
    <button type="submit">Submit</button>
</form>
</div>
</body>
</html>